{% extends "main.html" %}
{% block content %}
 <div class="row">
            <!--image on the left-->
            <div class="col-md-6 col-sm-4 col-xs-4">
                <img class="title-logo" src="https://tinyurl.com/yyegj4ed" alt="FIS logo" style="width:20%;height:10%">
            </div>
            <!--title on the right-->
            <div class="title-super col-md-6 col-sm-8 col-xs-8 text-right text-uppercase">
                <h1><i>Flight Information System</i></h1>
               
				<a href="{{url_for('showLogin')}}"><button type="button" class="btn btn-default pull-right button-style shopBtn" data-target="#Login">Login
                </button></a>
            </div>
        </div>
<div class="container">
	<div class="well well-small">
		<center><h2>Flights Information</h2></center>
		<div class="col-md-1 pull-right">
					<div class="col-md-2 pull-right">
						<a href="{{url_for('showFlightPartners')}}"><button type="button" class="btn btn-xs btn-default backbtn1">
							<span class="glyphicon glyphicon-arrow-left"></span>
						</button></a>
					</div>
				</div>

<br><br>
<table class="table table-bordered css-serial">
				<thead style="background-color: #FFA500; color: #333">
					<tr>
						<th>S.No.</th>
						<th>Source</th>
						<th>Destination</th>
						<th>Time</th>
						<th>Fare</th>
					</tr>
					</thead>  
					{% for flight in flights %}  
				<tbody>   
					<tr>
						<td></td>
						<td>{{flight.source}}</td>
						<td>{{flight.destination}}</td>    
						<td>{{flight.time}}</td>
						<td>{{flight.fare}}</td>
					</tr>    
					
				</tbody>    
				{% endfor %}  
			</table>

                        
                        
                    </div>
                    </div>
                    {% endblock %}
